---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon-16x16.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon-32x32.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/apple-touch-icon.png"
        />
        <meta name="generator" content={Astro.generator} />
        <title>IPL Team PFP Generator | by APS</title>
        <link rel="canonical" href="https://anirudhasah.com" />
        <meta
            name="description"
            content="Generate pictures with backgrounds of your favorite IPL teams. Just upload a picture, choose a background and see the magic!"
        />
        <meta property="og:title" content="IPL Team PFP Generator | by APS" />
        <meta
            property="og:description"
            content="Generate pictures with backgrounds of your favorite IPL teams. Just upload a picture, choose a background and see the magic!"
        />
        <meta
            property="og:image"
            content="https://ipl-pfp.anirudhasah.com/openGraph.png"
        />
        <meta property="og:url" content="https://ipl-pfp.anirudhasah.com/" />
        <meta property="twitter:card" content="summary_large_image" />
        <meta property="twitter:domain" content="ipl-pfp.anirudhasah.com" />
        <meta
            property="twitter:url"
            content="https://ipl-pfp.anirudhasah.com"
        />
        <meta
            property="twitter:title"
            content="IPL Team PFP Generator | by APS"
        />
        <meta
            property="twitter:description"
            content="Generate pictures with backgrounds of your favorite IPL teams. Just upload a picture, choose a background and see the magic!"
        />
        <meta
            property="twitter:image"
            content="https://ipl-pfp.anirudhasah.com/openGraph.png"
        />
    </head>
    <body>
        <slot />
        <footer class="bg-gray-800 text-white py-6">
            <div class="container mx-auto px-4 text-center">
                <p>
                    © 2025 IPL Team PFP Generator. All rights reserved. Made by
                    <a class="underline" href="https://anirudhasah.com"
                        >APS (Anirudha)</a
                    >
                </p>
            </div>
        </footer>
    </body>
</html>
