---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
        <meta name="generator" content={Astro.generator} />
        <title>IPL Team PFP Generator | by APS</title>
    </head>
    <body>
        <slot />
        <footer class="bg-gray-800 text-white py-6">
            <div class="container mx-auto px-4 text-center">
                <p>
                    © 2025 IPL Team PFP Generator. All rights reserved. Made by
                    <a class="underline" href="https://anirudhasah.com"
                        >APS (Anirudha)</a
                    >
                </p>
            </div>
        </footer>
    </body>
</html>
